

<button class="createField" (click)="modalBtnCreateSwitch()">Create Field</button>
<div class="modalCreate" *ngIf="isButtonCreate">
    <p class="messageCreate">Field Creator</p>
    <br>
    <div class="options">
        <div class="modal-content">
            <button class="btn-plusX">+ X</button>
            <br>
            <button class="btn-minusX">- X</button>
            <br>
            <button class="btn-plusY">+ Y</button>
            <br>
            <button class="btn-minusY">- Y</button>
            <br>
            <button class="finalField">Create Field</button>
            <br>
        </div>
    </div>
</div>
<br>
<button class="editMode" (click)="modalBtnEditSwitch()">Editor Mode</button>
<div class="modalEdit" *ngIf="isButtonEdit">
    <p class="messageEdit">Field Editor</p>
    <br>
    <div class="options">
        <div class="modal-content">
            <button class="btn-addContent">+ Stone</button>
            <br>
            <button class="btn-removeContent">- Stone</button>
            <br>
            <button class="btn-borderRight">Border Right</button>
            <br>
            <button class="btn-borderBottom">Border Bottom</button>
            <br>
        </div>
    </div>
</div>
<br>
<button class="startGame">Start Game</button>
<br>
