
.website {
}


.colLeft {
    float: left;
    background-color: pink;
    width: 43.1%;
    margin: 20px 0 0 20px;
}

.colRight {
}

.FieldRow {
    clear: both;
}

.Cell {
    background-color: #ffb6c1;
    width: 50px;
    height: 50px;
    border: 5px transparent solid;
    margin: 1px;
    padding: 0;
    float: left;
}

.Cell.red {
    background-color: #ffb6c1;
}

.Cell.borderBottom {
    border-bottom: 5px #886569 solid;
}

.Cell.borderRight {
    border-right: 5px #886569 solid;
}

.robotDirection {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.robotIcon {
    position: fixed;
    float: none;
}

.robotDirection.top {
    transform: rotate(-90deg);
}

.robotDirection.right {
    transform: rotate(0deg);
}

.robotDirection.left {
    transform: rotate(180deg);
}

.robotDirection.bottom {
    transform: rotate(90deg);
}
label {
    color: #898989;
    font-size: 24px;
}

input {
    width: 10em;
}

body {
    color: black;
    font-family: "Questrial", sans-serif;
}

.createField {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px 0 0 20px;
    width: 298px;
    height: 50px;
}

.createField:last-child {
    margin: 0;
}

.createField:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.createField:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.editMode {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin: 6px 0 0 20px;
    width: 298px;
    height: 50px;
}

.editMode:last-child {
    margin: 0;
}

.editMode:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.editMode:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}
.moveMode {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin: 6px 0 0 20px;
    width: 298px;
    height: 50px;
}

.moveMode:last-child {
    margin: 0;
}

.moveMode:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.moveMode:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}
.startGame {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin: 6px 0 0 20px;
    width: 298px;
    height: 50px;
}

.startGame:last-child {
    margin: 0;
}

.startGame:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.startGame:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.modalEdit {
    display: block;
    position: absolute;
    left: 61.48%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 10%;
    flex-direction: column;
    align-items: center;
    padding: 80px 150px;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.modalCreate {
    display: block;
    position: absolute;
    left: 61.48%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 10%;
    flex-direction: column;
    align-items: center;
    padding: 80px 150px;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.modalMove {
    display: block;
    position: absolute;
    left: 61.48%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 10%;
    flex-direction: column;
    align-items: center;
    padding: 80px 150px;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}


.message {
    font-size: 26px;
    margin-top: -60px;
    text-align: center;
}
.btn-addContent {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    width: 245px;
}

.btn-addContent:last-child {
    margin: 0;
}

.btn-addContent:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-addContent:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-removeContent {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    margin-top: 10px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    width: 245px;
}

.btn-removeContent:last-child {
    margin: 0;
}

.btn-removeContent:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-borderRight:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-borderRight {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-borderRight:last-child {
    margin: 0;
}

.btn-borderRight:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-borderRight:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-borderBottom {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-borderBottom:last-child {
    margin: 0;
}

.btn-borderBottom:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-borderBottom:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-plusX {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-plusX:last-child {
    margin: 0;
}

.btn-plusX:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-plusX:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-minusX {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-minusX:last-child {
    margin: 0;
}

.btn-minusX:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-minusX:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-plusY {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-plusY:last-child {
    margin: 0;
}

.btn-plusY:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-plusY:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn-minusY {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.btn-minusY:last-child {
    margin: 0;
}

.btn-minusY:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.btn-minusY:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.exit {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.exit:last-child {
    margin: 0;
}

.exit:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.exit:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.finalField {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.finalField:last-child {
    margin: 0;
}

.finalField:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.finalField:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}
.movement {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 5px 54px;
    border: 3px solid black;
    margin-left: -60px;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
}

.movement:last-child {
    margin: 0;
}

.movement:hover {
    box-shadow: 6px 6px 0 black;
    transform: translate(-6px, -6px);
}

.movement:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.createField:focus {
    outline: 0;
}

.editMode:focus {
    outline: 0;
}

.startGame:focus {
    outline: 0;
}

.btn-addContent:focus {
    outline: 0;
}

.btn-removeContent:focus {
    outline: 0;
}

.btn-borderRight:focus {
    outline: 0;
}

.btn-borderBottom:focus {
    outline: 0;
}
.shutdown:focus {
    outline: 0;
}
